<!--
  Generated template for the ChapterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Chapter {{id+1}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides #slides>

    <ion-slide>
      <h3>{{name}}</h3>

      <ion-grid>
        <ion-row text-justify>
          <ion-col>
            {{description}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p1}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p2}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p3}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p4}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p5}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p6}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p7}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p8}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p9}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p10}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p11}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p12}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p13}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p14}}
          </ion-col>
        </ion-row>

        <ion-row text-justify>
          <ion-col>
            {{p15}}
          </ion-col>
        </ion-row>

      </ion-grid>

<!--      <p text-justify>{{description}}</p>
      <p text-justify>{{p1}}</p>
      <p text-wrap>{{p2}}</p>
      <p text-wrap>{{p3}}</p>
      <p text-wrap>{{p4}}</p>
      <p text-wrap>{{p5}}</p>
-->
      <button ion-button small color="dark" (click)="nextSlide()">Δες τι έμαθες</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">

      <h3>Question {{i+1}}</h3>

      <flash-card [isFlipped]="question.flashCardFlipped">
        <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
        <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
      </flash-card>

      <h4>{{question.questionText}}</h4>

      <ion-list text-wrap>

        <ion-item *ngFor="let answer of question.answers; let i = index;">

          <ion-label>{{i+1}}. {{answer.answer}}</ion-label>
          <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>

        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide>
      <h2>Final Score: {{score}}</h2>

      <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>
      <button (click)="GoToHomePage()" ion-button full color="primary">Read Again</button>
      <button (click)="GoToLessonsPage()" ion-button full color="primary">Exit Chapter</button>
    </ion-slide>

  </ion-slides>


</ion-content>
